.formulario__button__btn{
    color: $white;
     background-color: $snow;
     border-radius: 30px;
     padding-top: 20px;
     padding-bottom: 20px;
     margin-left: auto;
     margin-right: auto;
     display: block;
 }