.formulario__button{
text-align: center;
}

.formulario__button__btn{
    background-color: $white;
    color: $snow;
    width: $big-button;
    border-radius: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}