body {
  margin: 0;
}

body {
  background-color: #fff;
  margin: 0;
}

h1, h2, h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 18px;
  font-size: 18px;
}

p {
  font-family: "Raleway", sans-serif;
}

.article__tomates1 {
  padding: 40px;
  background-color: #a0a0a0;
  font-weight: 18px;
}

.article__tomates1__img {
  width: 85%;
  text-align: center;
  padding: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.article__tomates1__titulo {
  text-align: center;
  font-size: large;
  color: #fff;
}

.article__tomates1__texto {
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 20px;
}

.article__tomates2 {
  padding: 30px;
  background-color: #fff;
  font-weight: 18px;
}

.article__tomates2__img {
  width: 85%;
  text-align: center;
  padding: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.article__tomates2__titulo {
  text-align: center;
  font-size: large;
  color: #686963;
  padding: 30px;
}

.article__tomates2__texto {
  text-align: center;
  font-size: 18px;
  color: #686963;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 20px;
}

.main {
  background-color: #e56353;
}

.main__container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.main__container__titulo1 {
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 30px;
}

.main__container__titulo2 {
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
}

.nosotros__titulo {
  color: #fff;
  background-color: #e56353;
  padding-top: 30px;
  padding-bottom: 60px;
  text-align: center;
  font-weight: 700;
  font-size: 70px;
}

.nosotros__javiera__img {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 60px;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.nosotros__javiera__titulo {
  text-align: center;
  font-weight: 18px;
  font-size: 30px;
  color: #686963;
}

.nostros__javiera__texto {
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  color: #686963;
  padding-bottom: 30px;
  padding-bottom: 30px;
  padding-left: 60px;
  padding-right: 60px;
}

.nosotros__roberto__img {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.nosotros__roberto__titulo {
  text-align: center;
  font-weight: 18px;
  font-size: 30px;
  color: #686963;
}

.nosotros__roberto__texto {
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  color: #686963;
  padding-bottom: 50px;
  padding-left: 60px;
  padding-right: 60px;
}

.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

.header__logo {
  width: 120px;
}

.header__logo__img {
  width: 100%;
}

.final {
  background-color: #a0a0a0;
  text-align: center;
  padding: 30px;
}

.final__img {
  width: 20%;
}

.formulario {
  background-color: #e56353;
  padding: 40px;
}

.formulario__titulo {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
}

.formulario__button {
  text-align: center;
  color: #fff;
  font-size: 30px;
}

.formulario__button__btn {
  background-color: #686963;
  padding: 30px;
  width: 15rem;
  border-radius: 50%;
  font-size: 30px;
  font-weight: 30px;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
